.intropage{
  background-color:grey;
  min-height: 100vh;
}
.introwriting{
  flex-direction:column;
  padding-top:5vh;
  text-align:center;
  color:rgb(223, 238, 245);
  width:50%;
  margin: 0 auto;
  background-color:transparent;
  overflow:hidden;
  font-size:5vh;
}
#navigation{
  color:rgb(223,238,245);
  padding-top:5vh;
  padding-bottom:5vh;
  text-align: center;
  text-decoration: none;
}
#introdivider{
  opacity:0.5;
}
#experiencedivider{
  opacity:0.5;
  width:50%;
}
.icons{

  text-align:center;
  flex-direction:row;
  padding:2vh;
  font-size:2rem
}
#instaicon{
  color:rgb(223, 238, 245);
  margin-right:5vh;
  height:auto;
  transition: 0.5s;
}
#emailicon{
  color:rgb(223,238,245);
  margin-left:5vh;
  height:auto;
  transition:0.5s;
}
#githubicon{
  color:rgb(223, 238, 245);
  transition:0.5s;
}
#instaicon:hover{color:#0072b1}
#githubicon:hover{color:black}
#emailicon:hover{color:rgb(126, 209, 235)};
.homepage{
  background-color:white;
}
.homewriting{
  padding-top: 4rem;
  justify-content: center;
  text-align:center;
}
#aboutmeid{
  color:black;
}
#aboutmep{
    color:rgb(56, 80, 90);
    display:block;
    padding:5vh;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.experiencecontainer{
  flex-wrap: wrap;
  background-color:white;
  min-height:100vh;
  justify-content:center;
  text-align:center;  
}
#experiencetitle{
  color:rgb(223, 238, 245);
  padding-top:2vh;
  text-align:center;
}
.experience{
  min-height:125vh;
  background-color:grey;
}
.experiencecard{
  flex:1;
}
.projectcard{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin:10vh;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 10%);
  padding: 1vh;
}
#projecttitle{
  text-align:left;
  padding-left:2vh;
}
.footer{
  min-height:20vh;
  background-color:grey;
}
#footertext{
  padding-top:5vh;
  color:rgb(223, 238, 245);
  text-align:center;
  font-size:1.25rem;
}
#projecttext{
  text-align:left;
  padding-left:15vh;
}
#smuscrest{
  width:5%;
  height:2%;
  padding-right:1rem;
}
.experiencesection{

  display:inline-block;
}
a:visited { text-decoration: none;  color:rgb(223,238,245); }
a:hover { text-decoration: none; color:rgb(223,238,245); }
a:focus { text-decoration: none;  color:rgb(223,238,245); }
a:hover, a:active { text-decoration: none; color:black }