.intropage{
  background-color:grey;
  min-height: 100vh;
}
.introwriting{
  flex-direction:column;
  padding-top:10vh;
  text-align:center;
  color:white;
  width:50%;
  margin: 0 auto;
  background-color:trasnparent;
  overflow:hidden;
  font-size:5vh;
}
#introdivider{
  opacity:0.5;
}
.icons{

  text-align:center;
  flex-direction:row;
  padding:2vh;
  font-size:10rem
}
#instaicon{
  color:White;
  margin-right:5vh;
  height:auto;
  transition: 0.5s;
}
#githubicon{
  color:white;
  transition:0.5s;
}
#instaicon:hover{color:purple}
#githubicon:hover{color:black}