html,body{
  scroll-behavior: smooth;
  height:100%;
  margin:0;
  background-color:rgb(252, 249, 249);

}
.intropage{
  background-color:grey;
  min-height: 100vh;
}
.introwriting{
  flex-direction:column;
  padding-top:5vh;
  text-align:center;
  color:rgb(223, 238, 245);
  margin: 0 auto;
  background-color:transparent;
  overflow:hidden;
  font-size:2vw;
}
#navigation{
  font-size:1.5rem;
  color:rgb(223,238,245);
  padding-top:15vh;
  padding-bottom:5vh;
  text-align: center;
  text-decoration: none;
}
a{
  color:rgb(223,238,245);
  text-decoration: none;
}
#introdivider{
  opacity:0.5;
  width:50vw;
}
#experiencedivider{
  opacity:0.5;
  width:50%;
}

.icons{

  text-align:center;
  flex-direction:row;
  padding:2vh;
  font-size:2rem
}
#instaicon{
  color:rgb(223, 238, 245);
  margin-right:5vh;
  height:auto;
  transition: 0.5s;
}
#emailicon{
  color:rgb(223,238,245);
  margin-left:5vh;
  height:auto;
  transition:0.5s;
}
#githubicon{
  color:rgb(223, 238, 245);
  transition:0.5s;
}
a:hover{color:rgb(212, 212, 212)};
#instaicon:hover{color:#0072b1}
#githubicon:hover{color:black}
#emailicon:hover{color:rgb(126, 209, 235)};
.homepage{
  color:rgb(223,238,245);
}
.homewriting{
  min-height:25vh;
  padding-top: 4rem;
  justify-content: center;
  text-align:center;
}

#aboutmeid{
  color:black;
}
#aboutmep{
    color:rgb(56, 80, 90);
    display:block;
    padding:5vh;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#experiencetitle{
  color:black;
  padding-top:2vh;
  text-align:center;
}
.card-wrapper{
  padding:2vw;
}
.experience{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#projectonecard{
  padding-bottom:1vh;
}
.card{
  margin-right:2vw;
  margin-left:2vw;
  box-sizing:border-box;
  padding:1.5rem;
}
.projectPage{
  min-height:100vh;
}

#projecttitle{
  text-align:left;
  padding-left:2vh;
}
.footer{
  min-height:20vh;
  background-color:grey;
}
#footertext{
  padding-top:5vh;
  color:rgb(223, 238, 245);
  text-align:center;
  font-size:1.25rem;
}
#footertextbottom{
  padding-top:2vh;
  color:rgb(145, 155, 160);
  text-align:center;
  font-size:0.75rem;
}
#projecttext{
  text-align:left;
  padding-left:15vh;
}
#smuscrest{
  width:5%;
  height:2%;
  padding-right:1rem;
}
img{
  vertical-align: middle;
  max-height: 95vh;
  
  margin-right: 10px;
}
